.name,
.param-type {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.name {
  max-width: 100%;
  overflow-x: auto;
}

.signature-attributes {
  padding-left: 5px;
  color: #aaa;
  font-size: 80%;
  font-style: italic;
  font-weight: lighter;
}

.type-signature {
  color: #aaa;
  font-size: 80%;
  font-weight: normal;
  white-space: nowrap;
}

.details {
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 2px solid #ddd;
  overflow-x: auto;
}
.details dt {
  float: left;
  padding-left: 1em;
}
.details dd {
  margin-left: 110px;
}
.details ul {
  margin: 0;
  list-style-type: none;
}

.params,
.props {
  max-width: 100%;
  overflow-x: auto;
  margin-top: .5em;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.params table,
.props table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.params td,
.params th,
.props td,
.props th {
  margin: 0;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  display: table-cell;
}
.params thead tr,
.params thead tr,
.props thead tr,
.props thead tr {
  font-weight: bold;
}

.params .params thead tr,
.props .props thead tr {
  font-weight: bold;
}

.params td {
  border-top: 1px solid #eee;
}

dl.param-type {
  margin-top: .5em;
  margin-bottom: 2.5em;
  padding-bottom: 2.5em;
  border-bottom: 1px solid #eee;
}
dl.param-type:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.param-type dt, .param-type dd {
  display: inline-block;
}
