<?js
var data = obj;
var self = this;
?>
<h3 class="name" id="<?js= id ?>"><?js= data.attribs + name + (data.signature ? data.signature : '') ?></h3>

<?js if (data.summary) { ?>
<p class="summary"><?js= summary ?></p>
<?js } ?>

<?js if (data.description) { ?>
<p><?js= data.description ?></p>
<?js } ?>

<?js if (data.type && data.type.names) {?>
  <h4>Type:</h4>
  <ul>
    <li>
      <?js= self.partial('type.tmpl', data.type.names) ?>
    </li>
  </ul>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>

<?js if (data.fires && fires.length) { ?>
  <h4>Fires:</h4>
  <ul><?js fires.forEach(function(f) { ?>
    <li><?js= self.linkto(f) ?></li>
  <?js }); ?></ul>
<?js } ?>

<?js if (data.examples && examples.length) { ?>
  <h4>Example<?js= examples.length > 1? 's':'' ?></h4>
  <?js= this.partial('examples.tmpl', examples) ?>
<?js } ?>
